//
   Created by orel- on 07/Feb/17.
doctype html
html
    head
        title Overwatch
        link(rel="stylesheet", href="/css/styles.css")
    body
        #app!= html
        script(src="/js/vendor.js")
        script(src="/js/vendor.bundle.js")
        script(src="/js/bundle.js")